@font-face {
  font-family: 'OAGothic-ExtraBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/OAGothic-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

*{
  font-family: 'OAGothic-ExtraBold';
}

body{
  margin: 0; padding: 0;
  box-sizing: border-box;
  background-color: rgb(231, 231, 231);
  min-height: 300vh;
  width: 100%;
}
.container{
  position: fixed;
  left: 0; top: 0;
  width: 100%; height: 100vh;
  background-color: rgba(0, 0, 0, .3);
  display: none;
}
.modal-window{
  position: fixed;
  background-color: rgba(0, 0, 0, .3);
  width:400px; height: 300px;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  border-radius: .5rem;
  backdrop-filter: blur(3px);
  text-align: center;
  font-size: 3rem;
  color: white;
  display: none;
  box-shadow: 0 0 .3rem rgba(255, 255, 255, .1);
  justify-content: end;
  flex-direction: column;
  z-index: 1;
  .submit-btn{
    all: unset;
    display: block;
    border-radius: 15px;
    background-color: rgb(0, 110, 255);
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 10px;
    margin-bottom: 15px;
    &:hover{
      background-color: rgba(0, 89, 255, 0.781);
    }
  }
}
.show{
  display: flex;
}

#up-button{
  border: none;
  background-color: rgba(0, 0, 0, .3);
  position: fixed;
  bottom: 100px;
  right: 20px;
  &:hover{
    background-color: rgba(0, 0, 0, .5);
  }
  width: 70px;
  height: 70px;
  span{
    font-size: 2.5rem;
  }
  border-radius: 50%;
}
nav{
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  .menu{
    text-decoration: none;
    color: white;
    background-color: rgb(0, 186, 211);
    border-radius: 10px;
    padding: 10px 20px;
    margin: 5px;
    font-weight: bold;
    font-size: 1.1rem;
    &:hover{
      background-color: rgb(0, 125, 141);
    }
  }
  .dropdown-btn{
    display: none;
  }
}
.open-btn{
  color: white;
  font-weight: bold;
  border-radius: 10px;
  width: 100px;
  border: none;
  padding: 5px 20px;
  background-color: rgb(0, 186, 211);
  font-size: 1.2rem;
  margin: 9px;
  &:hover{
    background-color: rgb(0, 125, 141);
  }
}
#file-upload{
  width: 400px;
  height: 300px;
}

.contents-container{
  display: none;
  margin: 50px;
  margin-top: 100px;
  height: 400px;
  width: 80%;
  gap: 5px;
  //display: flex;
  overflow-x: auto;
  &::-webkit-scrollbar{
    display: none;
  }
  .content{
    flex: 0 0 auto;
    width: 300px;
    height: 100%;
    background-color: rgb(207, 207, 207);
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    .img-container{
      width: 100%;
      height: 60%;
      img{
        width: 100%;
        height: 100%;
      }
    }
    h2, p{
      margin: 3px;
    }
  }
}

form{
  display: flex;
  flex-direction: column;
  input{
    width: 80%;
    margin: 5px;
    margin-left: 30px;
    background-color: rgba(255, 255, 255, .7);
  }
}
#loading-bar{
  justify-content: center;
}

@media (max-width: 480px){
  nav{
    .menu{
      display: none;
    }
    .dropdown-btn{
      display: block;
      span{
        font-size: 2rem;
        cursor: pointer;
        margin-right: 10px;
        margin-top: 5px;
        color: rgb(0, 186, 211);
      }
    }
  }
}
.dropdown-menu{
  display: block;
  //background-color: rgba(66, 66, 66, 0.3);
  height: auto;
  div{
    display: flex;
    justify-content: end;
    cursor: pointer;
    margin-right: 10px;
  }
}
.content-info{
  background-color: rgba(0, 0, 0, .3);
  margin: 0 auto;
  width: 80%;
  display: flex;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgb(53, 53, 53);;
  .content-info-img{
    display: flex;
    align-items: center;
    img{
      border-radius: 50%;
      width: 300px;
      object-fit: contain;
    }
  }
  .content-info-text{
    color: #fff;
    & p:nth-child(2){
      font-weight: bold;
      text-align: center;
      font-size: 1.2rem;
    }
  }
}
.mini-info{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 250px;
  height: 200px;
  background-color: rgba(218, 243, 255, 0.534);
  border-radius: 15px;
  animation: move 1s ease-out;
  .mini-close-btn{
    display: flex;
    justify-content: end;
    span{
      cursor: pointer;
    }
  }
  .mini-info-content{
    display: flex;
    align-items: center;
    transition: .2s;
    h3{
      margin: 0;
    }
    .mini-img{
      display: flex;
      justify-content: center;
      img{
        width: 120px;
        height: 120px;
        object-fit: cover;
        border-radius: 50%;
      }
    } 
  }
}
@keyframes move{
  from{
    transform: translateY(250px);
  }
  to{
    transform: translateY(0);
  }
}