@font-face {
  font-family: 'omyu_pretty';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

*{
  font-family: 'omyu_pretty';
}

body{
  margin: 0; padding: 0;
  box-sizing: border-box;
  background-color: rgb(231, 231, 231);
  width: 100%;
  &.dark{
    background-color: #333;
    color: #fff;
  }
}
// 모달창
.container{
  position: fixed;
  left: 0; top: 0;
  width: 100%; height: 100vh;
  background-color: rgba(0, 0, 0, .3);
  display: none;
}
.modal-window{
  position: fixed;
  background-color: rgba(0, 0, 0, .3);
  width:400px; height: 300px;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  border-radius: .5rem;
  backdrop-filter: blur(3px);
  text-align: center;
  font-size: 3rem;
  color: white;
  display: none;
  box-shadow: 0 0 .3rem rgba(255, 255, 255, .1);
  justify-content: end;
  flex-direction: column;
  z-index: 1;
  .submit-btn{
    all: unset;
    display: block;
    border-radius: 15px;
    background-color: rgb(0, 110, 255);
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 10px;
    margin-bottom: 15px;
    &:hover{
      background-color: rgba(0, 89, 255, 0.781);
    }
  }
}

// 하단 업버튼
#up-button{
  border: none;
  background-color: rgba(0, 0, 0, .3);
  position: fixed;
  bottom: 100px;
  right: 20px;
  &:hover{
    background-color: rgba(0, 0, 0, .5);
  }
  width: 70px;
  height: 70px;
  span{
    font-size: 2.5rem;
  }
  border-radius: 50%;
}

// 헤더 
nav{
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  .menu-bar{
    gap: 5px;
    transition: .2s;
    position: relative;
    .menu{
      text-decoration: none;
      color: white;
      background-color: rgb(0, 186, 211);
      border-radius: 10px;
      padding: 5px 20px;
      
      font-weight: bold;
      font-size: 1.1rem;
      &:hover{
        background-color: rgb(0, 125, 141);
      }
    }
  }
  .setting-menu{
    
    margin: 0 10px;
    position: relative;
    right: -300px;
    transition: .2s;
    align-items: center;
    #dark-mode, button{
      cursor: pointer;
    }
    #dark-mode{
      font-size: 3rem;
      margin-right: 20px;
    }
    button{
      font-size: 1.1rem;
      height: 2.1rem;
      width: 4rem;
      color: white;
      background-color: rgb(0, 186, 211);
      border-radius: 10px;
      border: none;
      margin-top: 10px;
      &:hover{
        background-color: rgb(0, 125, 141);
      }
    }
  }
  .search-menu{
    transition: .2s;
    opacity: 0;
    display: flex;
    align-items: center;
    margin-top: 5px;
    input{
      font-size: 1.3rem;
      
    }
  }
  
  .dropdown-btn{
    display: none;
  }
}

// css적용 우선순위를 위해 밖으로 뺌
.menu-bar{
  display: flex;
}

.setting-menu{
  display: none;
}

// .search-menu{
// }

.open-btn{
  color: white;
  font-weight: bold;
  border-radius: 10px;
  width: 100px;
  border: none;
  padding: 5px 20px;
  background-color: rgb(0, 186, 211);
  font-size: 1.2rem;
  margin: 9px;
  &:hover{
    background-color: rgb(0, 125, 141);
  }
}
#file-upload{
  width: 400px;
  height: 300px;
}

// 컨텐츠
.contents-container{
  // position: relative;
  display: none;
  margin: 50px;
  margin-top: 100px;
  height: 400px;
  width: 80%;
  gap: 5px;
  //display: flex;
  overflow-x: auto;
  &::-webkit-scrollbar{
    display: none;
  }
  .content{
    flex: 0 0 auto;
    width: 300px;
    height: 100%;
    background-color: rgb(207, 207, 207);
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    .img-container{
      width: 100%;
      height: 60%;
      img{
        width: 100%;
        height: 100%;
      }
    }
    h2, p{
      margin: 3px;
    }
  }
}
.carousel{
  // position: absolute;
  // top: 0;
  // left: 0;
  width: 0;
  display: none;
  align-items: center;
  &-left{
    left: 35px;
  }
  &-right{
    right: 70px;
  }
  &-right, &-left{
    position: absolute;
    // top: 0;
    // left: 0;
    span{
      cursor: pointer;
      font-size: 3rem;
      &:hover{
        color: gray;
      }
    }
    
  }
  
}
// 상품 카드
.product-card-container{
  margin: 5rem auto;
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .product-card{
    margin-bottom: 5rem;
    width: 45%;
    height: 500px;
    transition: 1s ease-in-out;
  }
}
.up-move{
  transform: translateY(-200px);
  opacity: 0;
}

// 모달 인풋
form{
  display: flex;
  flex-direction: column;
  input{
    width: 80%;
    margin: 5px;
    margin-left: 30px;
    background-color: rgba(255, 255, 255, .7);
  }
}
#loading-bar{
  justify-content: center;
}


.dropdown-menu{
  display: block;
  //background-color: rgba(66, 66, 66, 0.3);
  height: auto;
  div{
    display: flex;
    justify-content: end;
    cursor: pointer;
    margin-right: 10px;
  }
}
.content-info{
  background-color: rgba(0, 0, 0, .3);
  margin: 0 auto;
  width: 80%;
  display: flex;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgb(53, 53, 53);;
  .content-info-img{
    display: flex;
    align-items: center;
    img{
      border-radius: 50%;
      width: 300px;
      object-fit: contain;
    }
  }
  .content-info-text{
    color: #fff;
    & p:nth-child(2){
      font-weight: bold;
      text-align: center;
      font-size: 1.2rem;
    }
  }
}

//하단 미니 인포창
.mini-info{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 250px;
  height: 200px;
  background-color: rgba(218, 243, 255, 0.534);
  border-radius: 15px;
  animation: move 1s ease-out;
  .mini-close-btn{
    display: flex;
    justify-content: end;
    span{
      cursor: pointer;
    }
  }
  .mini-info-content{
    display: flex;
    align-items: center;
    transition: .2s;
    h3{
      margin: 0;
    }
    .mini-img{
      display: flex;
      justify-content: center;
      img{
        width: 120px;
        height: 120px;
        object-fit: cover;
        border-radius: 50%;
      }
    } 
  }
}
//등록 상품 개수
.notice{
  position: fixed;
  bottom: 0;
  right: 200px;
  font-size: 2rem;
}
.show{
  display: flex// !important;
}
.hidden{
  display: none// !important;
}

@media (max-width: 480px){
  nav{
    .menu{
      display: none;
    }
    .dropdown-btn{
      display: block;
      span{
        font-size: 2rem;
        cursor: pointer;
        margin-right: 10px;
        margin-top: 5px;
        color: rgb(0, 186, 211);
      }
    }
    .setting-menu{
      display: none //!important;
    }
  }
}

@keyframes move{
  from{
    transform: translateY(250px);
  }
  to{
    transform: translateY(0);
  }
}